[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-sdninterfaceapp-committers
	read = group GitHub Replication
[project]
	description = Software Defined Networking interface as an application
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/carbon:refs/heads/stable/carbon
