[access]
	inheritFrom = All-Projects
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-sdninterfaceapp-committers
	read = group Anonymous Users
	read = group GitHub Replication
	read = group Registered Users
	forgeAuthor = group ldap/gerrit-sdninterfaceapp-committers
[access "refs/for/refs/*"]
	push = group Registered Users
[access "refs/heads/*"]
	create = group Non-Interactive sdninterfaceapp users
	forgeAuthor = group Non-Interactive sdninterfaceapp users
	forgeCommitter = group Non-Interactive sdninterfaceapp users
	push = group Non-Interactive sdninterfaceapp users
	label-Code-Review = -2..+2 group ldap/gerrit-sdninterfaceapp-committers
	label-Code-Review = -1..+1 group Non-Interactive sdninterfaceapp users
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Non-Interactive sdninterfaceapp users
	label-Verified = -1..+1 group ldap/gerrit-sdninterfaceapp-committers
	submit = group ldap/gerrit-sdninterfaceapp-committers
	pushMerge = group Non-Interactive sdninterfaceapp users
[access "refs/tags/*"]
	create = group ldap/gerrit-sdninterfaceapp-committers
	push = +force group Non-Interactive sdninterfaceapp users
	push = +force group ldap/gerrit-sdninterfaceapp-committers
	pushTag = +force group Non-Interactive sdninterfaceapp users
	pushTag = +force group ldap/gerrit-sdninterfaceapp-committers
	exclusiveGroupPermissions = push pushTag
[project]
	description = Software Defined Networking interface as an application
